.NavBar-tab {
  background-color: #5e72eb;
  display: flex;
  height: 60px;
  padding: 0px 10px;
  min-width: 100vw;
}
.NavBar-title {
  width: 98%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  text-indent: 20px;

  color: #ffffff;
}
.NavBar-userName {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  display: flex;
  align-items: center;
  margin-right: 3px;
  color: #ffeba6;
}
.NavBar-logOut {
  color: white !important;
}
.NavBar-logOut:focus {
  outline: 0;
}
