.NewGroup-card {
  position: relative;
  height: 60px;
  width: 95%;
  left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;

  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.1);
  color: #000000;
  background: #f9f9f9;
  border-radius: 15px;
}
.NewGroup-input {
  position: relative;
  width: 62%;
  height: 60px;

  background: none;
  border: none;
  /* border: 1px solid #c4c4c4; */
  box-sizing: border-box;
  border-radius: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  line-height: 60px;
  color: black;
  text-indent: 10px;
}

.NewGroup-input:focus {
  outline: none;
}
.NewGroup-button {
  position: relative;
  width: 80px;
  height: 33px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  border-radius: 22px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
